
@font-face {
    font-family: 'roboto';
    src: url('fuentes/Roboto/Roboto-Regular.ttf') format('truetype');
}
html {
    font-size: 12px;
  }
:root {
    --white: #ffffffff;
    --celeste: #78baeb;
    --verde: #51f576;
    --azul: #0a6bf2;
    --gris: #24303c;
    --negro: #000000;
    --veryBig: calc(1em + 1vw);
    --big: calc(0.26em + 1vw);
    --medium: calc(0.22em + 1vw);
    --small: calc(0.16em + 1vw);
    --verysmall: calc(0.12em + 1vw);
  }

body{
    background-color: var(--negro);
    font-size: var(--big);    
}


.caja{
    width: 100%;
    margin: 0 auto;
}

.lg {
   width: 75vw;
   max-width: 1200px;
   min-width: 320px;
   margin: 0 auto;
}

.temiro{
    width: 100%;
}


#barraNav{
    background-color: var(--celeste);
    height: 3.5vw;
    text-align: center;
}

.btn_Registro, .btn_Ingresar { 
    color: var(--negro);     /*Color del texto*/
    background: transparent; /*Eliminar color de fondo*/
    border: 2px solid var(--gris); /*Grosor del borde, estilo de linea y color*/
    border-radius: 6px; /*Añadir esquinas curvadas*/
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Roboto';
}

.btn_Registro:hover{
   background-color: var(--azul); /*Al poner el cursor encima*/
   color: var(--white)
}

.btn_Ingresar:hover{
    background-color: var(--azul); /*Al poner el cursor encima*/
    color: var(--white)
}

#producto{
    padding: 2px 12px;
}

#producto:hover{
    color: var(--gris)
}

#servicio{
  padding: 2px 12px;
}

#servicio:hover{
    color: var(--gris)
}

.link-dark{
    letter-spacing: 0.5px;
    text-decoration: none;
    font-family: 'Roboto';
    color: var(--negro);
    position: relative;
}

.link-dark:after{
   content: "";
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0%;
   height: 2px;
   width: 100%;
   background: var(--azul);
   /*Animación de derecha a izquierda*/
   transform-origin: right;
   transform: scaleX(0);
   transition: transform 0.2s ease-in-out;
}

.link-dark:hover:after{
    /*animación de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
}


.imagencentro{
    margin-top: 2%;
    margin-left: 1%;
    width: 100%;
    background-color: var(--negro);
    color: var(--white);
    margin-bottom: 1%;
}
.imagencentro img{
    display: flexbox;
    float: left;
    width: 53%;
}
.text-principal{
    width: 100%;
    background: var(--negro);
    border: none;
    color: var(--white);
    margin:  1% 0;
    font-size: var(--veryBig);
    text-align: center;
    font-family: 'roboto';
    
}
.text-complementario{
    width: 100%;
    background: var(--negro);
    border: none;
    color: var(--white);
    margin: 1% 0;
    font-size: var(--big);
    text-align: center;
    font-family:'roboto';
}

.copyright{
    color:var(--negro);
    font-size: var(--small);
    height: 3vw;
    margin-bottom: 0%;
    font-family: 'roboto';
} 

.nav {
    display: flexbox;
    vertical-align: middle;
    width: 6vw;
}

.nav img{
    display: flexbox;
    width: 6vw;
    height: auto;
}

#Footer{
    margin-top: 5vw;
    display:flexbox;
    width: 100%;
    background-color: var(--celeste);
    color:#000000; 
    text-align: center;
}

.imgsomos{
    width:700px;
    text-align: center;
}

.title-somos{
    text-align: center;
}

.text-somos{
    width:500px;
    text-align: center;
}

.QuienesSomos, .text-img{
    background-color: var(--white);
}

.Terminos{
    background-color: var(--white);
}

@media only screen and (min-width: 360px) and (max-width: 992px) {

    .imagencentro img{
        display:inline-block;
        width: 92%;
        margin: 3%;
    }    
    .nav {
        display: inline-block;
        vertical-align: middle;
        width: 10vw;
    }
    
    .nav img{
        display: inline-block;
        width: 10vw;
        height: auto;
    }
    #barraNav{
        background-color: var(--celeste);
        height: 10vw;
        text-align: center;
    }
    .lg {
        width: 75vw;
        max-width: 1200px;

        margin: 0 auto;
     }
     .text-principal{
        width: 100%;
        background: var(--negro);
        border: none;
        color: var(--white);
        margin:  1% 0;
        font-size: 2.5rem;
        text-align: center;
        font-family: 'roboto';
        
    }
    .text-complementario{
        width: 100%;
        background: var(--negro);
        border: none;
        color: var(--white);
        margin: 1% 0;
        font-size: 1.5rem;
        text-align: center;
        font-family:'roboto';
    }

}