
@font-face {
    font-family: 'roboto';
    src: url('fuentes/Roboto/Roboto-Regular.ttf') format('truetype');
}

:root {
    --white: #ffffffff;
    --celeste: #78baeb;
    --verde: #51f576;
    --azul: #0a6bf2;
    --gris: #24303c;
    --negro: #000000;
    --big: 22px;
    --medium: 18px;
    --small: 14px;
    --verysmall: 10px;
  }

body{
    background-color: var(--white);
    font-size: var(--big);    
}

.caja{
    width: 940px;
    margin: 0 auto;
}

#barraNav{
    background-color: var(--celeste);
    height: 49px;
}

.btn_Registro, .btn_Ingresar { 
    color: var(--negro);     /*Color del texto*/
    background: transparent; /*Eliminar color de fondo*/
    border: 2px solid var(--gris); /*Grosor del borde, estilo de linea y color*/
    border-radius: 6px; /*Añadir esquinas curvadas*/
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Roboto';
}

.btn_Registro:hover{
   background-color: var(--azul); /*Al poner el cursor encima*/
   color: var(--white)
}

.btn_Ingresar:hover{
    background-color: var(--azul); /*Al poner el cursor encima*/
    color: var(--white)
}

#producto{
    padding: 2px 12px;
}

#producto:hover{
    color: var(--gris)
}

#servicio{
  padding: 2px 12px;
}

#servicio:hover{
    color: var(--gris)
}

.link-dark{
    letter-spacing: 0.5px;
    text-decoration: none;
    font-family: 'Roboto';
    color: var(--negro);
    position: relative;
}

.link-dark:after{
   content: "";
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0%;
   height: 2px;
   width: 100%;
   background: var(--azul);
   /*Animación de derecha a izquierda*/
   transform-origin: right;
   transform: scaleX(0);
   transition: transform 0.2s ease-in-out;
}

.link-dark:hover:after{
    /*animación de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
}
