body, html {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    background: #635e5e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 450px;
    padding: 50px;
    background:#222121;
    text-align: center;
    font-family: Roboto;
}

.form-title{
    color: cornsilk;
    text-transform: uppercase;
    font-weight: bold;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box .btn{
    width: 250px;
    color: cornsilk;
    text-transform: uppercase;
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    padding: 15px 10px;
    text-align: center;
    border: 1.5px solid rgb(47, 12, 245);
    outline: none;
    border-radius: 15px;
    transition: 0.25s;
}

.form-box .transfor:focus{
    width: 300px;
    border-color: cornsilk;
}

.form-box .btn {
    border: 0;
    background:rgb(47, 12, 245);
    border: 1.5px solid rgb(47, 12, 245);
}

.form-box .btn:hover {
    background: none;
}

p{
    color: cornsilk;
}

.enlace{
    color: rgb(47, 12, 245);
    text-transform: uppercase;
    text-decoration: none;
}